@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90vh;
    margin: 5vh 5% 5vh 5%;
    font-family: 'Raleway', sans-serif;
}
.note_history{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.note_history .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 60px;
    margin-top: 20px;
}
.note_history .aaaa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.information{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;

}
h1{
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    background: #222222;
    color: #ececec;
    height: 60px;
    border-radius: 5px;
    font-weight: 300;
}
.information .profil{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}
.information .profil b{
    text-decoration: underline;
}
.btn{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background: #222222;
    color: #ececec;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
    cursor: pointer;

}
.information .stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.information .profil input[type=text]{
    position: relative;
    bottom: 8px;
    left: 15px;
    height: 30px;
    background: none;
    border: none;
    border-bottom: 1px solid #000000;
}
.information .profil input[type=text]:focus-visible {
    outline: none;
}