@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.note_page{
    width: 96%;
    height: 85vh;
    position: relative;
    top: 2vh;
    left: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.note_page .categories{
    width: 23%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.note_page #productivity .title, .note_page #productivity.categories, .note_page #productivity .note li:hover,input[type="radio"].productivity:checked + label{
    background: #FF6464;
}
.note_page #mood .title, .note_page #mood.categories, .note_page #mood .note li:hover,input[type="radio"].mood:checked + label{
    background: #FFAA3E;
}
.note_page #sociability .title, .note_page #sociability.categories, .note_page #sociability .note li:hover,input[type="radio"].sociability:checked + label{
    background: #68DD7B;
}
.note_page #sleep .title, .note_page #sleep.categories, .note_page #sleep .note li:hover,input[type="radio"].sleep:checked + label{
    background: #6874DD;
}

.note_page .categories .title{
    width: 100%;
    height: 8%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.note_page .categories .note{
    height: 70%;
    width: 100%;
    background: white;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.note_page .categories .note li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    width: 90%;
    height: 40px;
    border-radius: 40px;
    transition: .3s ease-in;
}
.note_page .categories .explication {
    text-align: center;

    position: relative;
    width: 100%;
    height: 22%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.note_page .categories .explication h2{
    margin-top: 10px;
}
.note_page .categories .explication p{
    position: relative;
    top: 15px;
    left: 5%;
    width: 90%;
    font-size: 12px;
}
.btn{
    position: relative;
    top: 50px;
    left: 3.5vw;
    width: 93vw;
    height: 5.5vh;
    background: #222222;
    border: none;
    border-radius: 5.5vh;
    color: white;
    font-size: 30px;
}




/*.note_page .categories .note li input[type="radio"].test {
    width: 90px;
    height: 40px;
}
.note_page .categories .note li input[type="radio"].test {
    padding: 0.3rem 0.5rem;
    border: 1px dashed #ccc;
}
.note_page .categories .note li input[type="radio"].test:checked {
    background: #FFAA3E;
}*/

input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.3rem 0.5rem;
    border-radius: 40px;
    transition: .3s ease-in;
    cursor: pointer;
}
input[type="radio"].productivity + label{
    border: 5px solid #FF6464;
}
input[type="radio"].mood + label{
    border: 5px solid #FFAA3E;
}
input[type="radio"].sociability + label{
    border: 5px solid #68DD7B;
}
input[type="radio"].sleep + label{
    border: 5px solid #6874DD;
}


