{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ma notation</title>
    <link rel="stylesheet" href="{% static 'css/notation-index.css' %}">
</head>
<body>
    <h1>Note ta journée :</h1>

    <p>Ce site permet de noter ta journée /10, tu devra pour ceci noter 4 catégories déjà définie /10
            et la moyenne des notes que tu auras atribué réprésentera la notede ta journée. Pourquoi faire ceci ?
            Pour pouvoir au long terme identifier les éléments qui font que tu passe une bonne journée ou au contraire,
            identifier les éléments qui font que tu passe une mauvaise journée.</p>

    <section>
        <a class="btn" id="logout" href="{% url 'user-logout' %}">Deconnexion</a>
        <a class="btn" id="next" href="{% url 'notation-notes' %}">Suivant</a>
    </section>

</body>
</html>