{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Note ta journée</title>
    <link rel="stylesheet" href="{% static 'css/notation-notes.css' %}">
</head>
<body>

<form action="{% url 'notation-postNote'%}" method="post">

    {% csrf_token %}
    <section class="note_page">
        <section id="productivity" class="categories">
            <div class="title">
                <h1>Productivité</h1>
            </div>
            <ul class="note">
                <li><input class=" " type="radio" id="1a" name="productivity" value="1"><label for="1a">1</label></li>
                <li><input class="productivity" type="radio" id="2a" name="productivity" value="2"><label for="2a">2</label></li>
                <li><input class="productivity" type="radio" id="3a" name="productivity" value="3"><label for="3a">3</label></li>
                <li><input class="productivity" type="radio" id="4a" name="productivity" value="4"><label for="4a">4</label></li>
                <li><input class="productivity" type="radio" id="5a" name="productivity" value="5"><label for="5a">5</label></li>
                <li><input class="productivity" type="radio" id="6a" name="productivity" value="6"><label for="6a">6</label></li>
                <li><input class="productivity" type="radio" id="7a" name="productivity" value="7"><label for="7a">7</label></li>
                <li><input class="productivity" type="radio" id="8a" name="productivity" value="8"><label for="8a">8</label></li>
                <li><input class="productivity" type="radio" id="9a" name="productivity" value="9"><label for="9a">9</label></li>
                <li><input class="productivity" type="radio" id="10a" name="productivity" value="10"><label for="10a">10</label></li>
            </ul>
            <div class="explication">
                <h2>Comment bien noter</h2>
                <p>Avez vous été productif aujourd'hui ?<br>
                    Est ce que vous avec fait ce que vous vouliez faire ?</p>
            </div>
        </section>
        <section id="mood" class="categories">
            <div class="title">
                <h1>Humeur</h1>
            </div>
            <ul class="note">
                <li><input class="mood" type="radio" id="1b" name="mood" value="1"><label for="1b">1</label></li>
                <li><input class="mood" type="radio" id="2b" name="mood" value="2"><label for="2b">2</label></li>
                <li><input class="mood" type="radio" id="3b" name="mood" value="3"><label for="3b">3</label></li>
                <li><input class="mood" type="radio" id="4b" name="mood" value="4"><label for="4b">4</label></li>
                <li><input class="mood" type="radio" id="5b" name="mood" value="5"><label for="5b">5</label></li>
                <li><input class="mood" type="radio" id="6b" name="mood" value="6"><label for="6b">6</label></li>
                <li><input class="mood" type="radio" id="7b" name="mood" value="7"><label for="7b">7</label></li>
                <li><input class="mood" type="radio" id="8b" name="mood" value="8"><label for="8b">8</label></li>
                <li><input class="mood" type="radio" id="9b" name="mood" value="9"><label for="9b">9</label></li>
                <li><input class="mood" type="radio" id="10b" name="mood" value="10"><label for="10b">10</label></li>
            </ul>
            <div class="explication">
                <h2>Comment bien noter</h2>
                <p>Etês vous de bonne humeur ?<br>
                Avez-vous été contrarié ?</p>
            </div>
        </section>
        <section id="sociability" class="categories">
            <div class="title">
                <h1>Sciablitité</h1>
            </div>
            <ul class="note">
                <li><input class="sociability" type="radio" id="1c" name="sociability" value="1"><label for="1c">1</label></li>
                <li><input class="sociability" type="radio" id="2c" name="sociability" value="2"><label for="2c">2</label></li>
                <li><input class="sociability" type="radio" id="3c" name="sociability" value="3"><label for="3c">3</label></li>
                <li><input class="sociability" type="radio" id="4c" name="sociability" value="4"><label for="4c">4</label></li>
                <li><input class="sociability" type="radio" id="5c" name="sociability" value="5"><label for="5c">5</label></li>
                <li><input class="sociability" type="radio" id="6c" name="sociability" value="6"><label for="6c">6</label></li>
                <li><input class="sociability" type="radio" id="7c" name="sociability" value="7"><label for="7c">7</label></li>
                <li><input class="sociability" type="radio" id="8c" name="sociability" value="8"><label for="8c">8</label></li>
                <li><input class="sociability" type="radio" id="9c" name="sociability" value="9"><label for="9c">9</label></li>
                <li><input class="sociability" type="radio" id="10c" name="sociability" value="10"><label for="10c">10</label></li>
            </ul>
            <div class="explication">
                <h2>Comment bien noter</h2>
                <p>Avez-vous discuter avec des gens ?<br>
                Êtes vous resté seul ?</p>
            </div>
        </section>
        <section id="sleep" class="categories">
            <div class="title">
                <h1>Sommeil</h1>
            </div>
            <ul class="note">
                <li><input class="sleep" type="radio" id="1d" name="sleep" value="1"><label for="1d">1</label></li>
                <li><input class="sleep" type="radio" id="2d" name="sleep" value="2"><label for="2d">2</label></li>
                <li><input class="sleep" type="radio" id="3d" name="sleep" value="3"><label for="3d">3</label></li>
                <li><input class="sleep" type="radio" id="4d" name="sleep" value="4"><label for="4d">4</label></li>
                <li><input class="sleep" type="radio" id="5d" name="sleep" value="5"><label for="5d">5</label></li>
                <li><input class="sleep" type="radio" id="6d" name="sleep" value="6"><label for="6d">6</label></li>
                <li><input class="sleep" type="radio" id="7d" name="sleep" value="7"><label for="7d">7</label></li>
                <li><input class="sleep" type="radio" id="8d" name="sleep" value="8"><label for="8d">8</label></li>
                <li><input class="sleep" type="radio" id="9d" name="sleep" value="9"><label for="9d">9</label></li>
                <li><input class="sleep" type="radio" id="10d" name="sleep" value="10"><label for="10d">10</label></li>
            </ul>
            <div class="explication">
                <h2>Comment bien noter</h2>
                <p>Avez-vous bien dormi ? <br>
                Est-ce que vous vous sentez reposé ?</p>
            </div>
        </section>
    </section>
    <input class="btn" type="submit" value="Enregistrer">

</form>

</body>
</html>