{% load static %}


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/notation-profile.css' %}">

</head>
<body>
    <section class="note_history">
        <h1>Historique des notes</h1>

        <section class="column">

            {% for moyenne in moyennes %}
                <section class="aaaa">
                    <section class="dates">
                        {{moyenne.date|date:"D d M"}}<br>
                    </section>

                    <section class="notes">
                        {{ moyenne.moyenne }}
                    </section>
                </section>
            {% endfor %}

        </section>
    </section>

    <section class="information">
        {% block content %}
        <section class="profil">
            <h1>Information du compte</h1>
            <p><b>Nom :</b> {{ last_name }}</p>
            <p><b>Prenom :</b> {{ first_name }}</p>
            <p><b>eMail :</b> {{ email }}</p>
            <p><b>Nom d'utilisateur :</b> {{ username }}</p>

            <section class="btns">
                <a class="btn" href="{% url 'notation-profile_modif' %}">Modifier profil</a>
                <a class="btn" href="{% url 'user-logout' %}">Deconnexion</a>
            </section>
        </section>
        {% endblock %}
        <section class="stats">
            <h1>Statistique des notes</h1>

            <p>Nombre de note : {{ nb_notes }}</p>
            <input type="text" id="productivity" style="display: none" value="{{ moyenne_productivity }}">
            <input type="text" id="mood" style="display: none" value="{{ moyenne_mood }}">
            <input type="text" id="sociability" style="display: none" value="{{ moyenne_sociability }}">
            <input type="text" id="sleep" style="display: none" value="{{ moyenne_sleep }}">
            <canvas class="chart" id="chart"></canvas>
        </section>


    </section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>